In [1]:
import pandas as pd
price_demand_data = pd.read_csv('price_demand_data.csv')
price_demand_data["PRICECATEGORY"] = price_demand_data["PRICECATEGORY"].replace(["LOW", "MEDIUM", "HIGH", "EXTREME"],[1, 2, 3, 4])
price_demand_data[["DATE", "Time"]] = price_demand_data["SETTLEMENTDATE"].str.split(" ", expand=True)
price_demand_data = price_demand_data.groupby('DATE').agg({'TOTALDEMAND': 'max','PRICECATEGORY': 'max'})
price_demand_data["PRICECATEGORY"] = price_demand_data["PRICECATEGORY"].replace([1, 2, 3, 4],["LOW", "MEDIUM", "HIGH", "EXTREME"])
price_demand_data = price_demand_data.reset_index()
price_demand_data

          DATE  TOTALDEMAND PRICECATEGORY
0    1/01/2021      5019.64           LOW
1    1/02/2021      5228.29        MEDIUM
2    1/03/2021      5225.37           LOW
3    1/04/2021      5807.02        MEDIUM
4    1/05/2021      5261.09        MEDIUM
..         ...          ...           ...
239  9/04/2021      5688.63        MEDIUM
240  9/05/2021      5222.89        MEDIUM
241  9/06/2021      7224.91        MEDIUM
242  9/07/2021      7536.11       EXTREME
243  9/08/2021      6675.69          HIGH

[244 rows x 3 columns]

In [2]:
price_demand_data.to_csv('cleaned_price.csv', encoding='utf-8', index=False)

# Below are detail code to show price clean method step by step

In [1]:
import pandas as pd
price_demand_data = pd.read_csv('price_demand_data.csv')

In [2]:
price_demand_data.head()

  REGION  SETTLEMENTDATE  TOTALDEMAND PRICECATEGORY
0   VIC1  1/01/2021 0:30      4179.21           LOW
1   VIC1  1/01/2021 1:00      4047.76           LOW
2   VIC1  1/01/2021 1:30      3934.70           LOW
3   VIC1  1/01/2021 2:00      3766.45           LOW
4   VIC1  1/01/2021 2:30      3590.37           LOW

In [3]:
print(f'price_demand_data shape is {price_demand_data.shape}')
price_demand_data.dtypes

price_demand_data shape is (11664, 4)

REGION             object
SETTLEMENTDATE     object
TOTALDEMAND       float64
PRICECATEGORY      object
dtype: object

In [4]:
price_demand_data["PRICECATEGORY"] = price_demand_data["PRICECATEGORY"].replace(["LOW", "MEDIUM", "HIGH", "EXTREME"],[1, 2, 3, 4])
price_demand_data

      REGION    SETTLEMENTDATE  TOTALDEMAND  PRICECATEGORY
0       VIC1    1/01/2021 0:30      4179.21              1
1       VIC1    1/01/2021 1:00      4047.76              1
2       VIC1    1/01/2021 1:30      3934.70              1
3       VIC1    1/01/2021 2:00      3766.45              1
4       VIC1    1/01/2021 2:30      3590.37              1
...      ...               ...          ...            ...
11659   VIC1  31/08/2021 22:00      4861.91              2
11660   VIC1  31/08/2021 22:30      4748.74              2
11661   VIC1  31/08/2021 23:00      4620.09              2
11662   VIC1  31/08/2021 23:30      4834.00              2
11663   VIC1    1/09/2021 0:00      4811.27              2

[11664 rows x 4 columns]

In [5]:
price_demand_data[["DATE", "Time"]] = price_demand_data["SETTLEMENTDATE"].str.split(" ", expand=True)
price_demand_data

      REGION    SETTLEMENTDATE  TOTALDEMAND  PRICECATEGORY        DATE   Time
0       VIC1    1/01/2021 0:30      4179.21              1   1/01/2021   0:30
1       VIC1    1/01/2021 1:00      4047.76              1   1/01/2021   1:00
2       VIC1    1/01/2021 1:30      3934.70              1   1/01/2021   1:30
3       VIC1    1/01/2021 2:00      3766.45              1   1/01/2021   2:00
4       VIC1    1/01/2021 2:30      3590.37              1   1/01/2021   2:30
...      ...               ...          ...            ...         ...    ...
11659   VIC1  31/08/2021 22:00      4861.91              2  31/08/2021  22:00
11660   VIC1  31/08/2021 22:30      4748.74              2  31/08/2021  22:30
11661   VIC1  31/08/2021 23:00      4620.09              2  31/08/2021  23:00
11662   VIC1  31/08/2021 23:30      4834.00              2  31/08/2021  23:30
11663   VIC1    1/09/2021 0:00      4811.27              2   1/09/2021   0:00

[11664 rows x 6 columns]

In [10]:
price_demand_data = price_demand_data.groupby('DATE').agg({'TOTALDEMAND': 'max','PRICECATEGORY': 'max'})

In [12]:
price_demand_data["PRICECATEGORY"] = price_demand_data["PRICECATEGORY"].replace([1, 2, 3, 4],["LOW", "MEDIUM", "HIGH", "EXTREME"])
price_demand_data = price_demand_data.reset_index()
price_demand_data

          DATE  TOTALDEMAND PRICECATEGORY
0    1/01/2021      5019.64           LOW
1    1/02/2021      5228.29        MEDIUM
2    1/03/2021      5225.37           LOW
3    1/04/2021      5807.02        MEDIUM
4    1/05/2021      5261.09        MEDIUM
..         ...          ...           ...
239  9/04/2021      5688.63        MEDIUM
240  9/05/2021      5222.89        MEDIUM
241  9/06/2021      7224.91        MEDIUM
242  9/07/2021      7536.11       EXTREME
243  9/08/2021      6675.69          HIGH

[244 rows x 3 columns]

In [13]:
price_demand_data.dtypes

DATE              object
TOTALDEMAND      float64
PRICECATEGORY     object
dtype: object

# Below is reading the weather data

In [31]:
import pandas as pd
weather_data = pd.read_csv('weather_data.csv',encoding= 'unicode_escape')
weather_data.rename(columns={'Ã¯Â»Â¿Date': 'DATE'}, inplace=True)
Combined_original = pd.merge(price_demand_data, weather_data, how="inner", on=["DATE"])
Combined_original.to_csv('Combined_original.csv', encoding='utf-8', index=False)

In [18]:
import pandas as pd
weather_data = pd.read_csv('Cleaned_weather_data.csv',encoding= 'unicode_escape')
weather_data.rename(columns={'Ã¯Â»Â¿Date': 'DATE'}, inplace=True)
weather_data.head()

,DATE,Minimum temperature (Ã‚Â°C),Maximum temperature (Ã‚Â°C),Rainfall (mm),Evaporation (mm),Sunshine (hours),Direction of maximum wind gust,Speed of maximum wind gust (km/h),Time of maximum wind gust,9am Temperature (Ã‚Â°C),...,9am cloud amount (oktas),9am wind direction,9am wind speed (km/h),9am MSL pressure (hPa),3pm Temperature (Ã‚Â°C),3pm relative humidity (%),3pm cloud amount (oktas),3pm wind direction,3pm wind speed (km/h),3pm MSL pressure (hPa)
0,1/01/2021,15.6,29.9,0.0,2.8,9.3,NNE,31,13:14,19.2,...,6,N,2,1018.8,28.1,43,5,E,13,1015.3
1,2/01/2021,18.4,29.0,0.0,9.4,1.3,NNW,30,8:22,23.3,...,7,NNW,17,1013.3,28.7,38,7,SW,4,1008.5
2,3/01/2021,17.0,26.2,12.6,4.8,7.1,WSW,33,17:55,18.3,...,8,WSW,4,1007.7,23.5,59,4,SSW,2,1005.2
3,4/01/2021,16.0,18.6,2.6,3.8,0.0,SSE,41,16:03,16.2,...,8,SSE,11,1010.0,18.2,82,8,SSW,17,1011.0
4,5/01/2021,15.9,19.1,11.2,1.0,0.0,SSE,35,11:02,17.2,...,8,SSE,13,1012.5,18.2,82,8,SSE,19,1013.3

In [19]:
print(f'Cleaned weather_data shape is {weather_data.shape}')
weather_data.dtypes

Cleaned weather_data shape is (243, 21)

DATE                                  object
Minimum temperature (Ã‚Â°C)            float64
Maximum temperature (Ã‚Â°C)            float64
Rainfall (mm)                        float64
Evaporation (mm)                     float64
Sunshine (hours)                     float64
Direction of maximum wind gust        object
Speed of maximum wind gust (km/h)      int64
Time of maximum wind gust             object
9am Temperature (Ã‚Â°C)                float64
9am relative humidity (%)              int64
9am cloud amount (oktas)               int64
9am wind direction                    object
9am wind speed (km/h)                  int64
9am MSL pressure (hPa)               float64
3pm Temperature (Ã‚Â°C)                float64
3pm relative humidity (%)              int64
3pm cloud amount (oktas)               int64
3pm wind direction                    object
3pm wind speed (km/h)                 object
3pm MSL pressure (hPa)               float64
dtype: object

# Join price and weather dataset to get a combined data set

In [20]:
price_demand_data.head()

        DATE  TOTALDEMAND PRICECATEGORY
0  1/01/2021      5019.64           LOW
1  1/02/2021      5228.29        MEDIUM
2  1/03/2021      5225.37           LOW
3  1/04/2021      5807.02        MEDIUM
4  1/05/2021      5261.09        MEDIUM

In [21]:
weather_data.head()

,DATE,Minimum temperature (Ã‚Â°C),Maximum temperature (Ã‚Â°C),Rainfall (mm),Evaporation (mm),Sunshine (hours),Direction of maximum wind gust,Speed of maximum wind gust (km/h),Time of maximum wind gust,9am Temperature (Ã‚Â°C),...,9am cloud amount (oktas),9am wind direction,9am wind speed (km/h),9am MSL pressure (hPa),3pm Temperature (Ã‚Â°C),3pm relative humidity (%),3pm cloud amount (oktas),3pm wind direction,3pm wind speed (km/h),3pm MSL pressure (hPa)
0,1/01/2021,15.6,29.9,0.0,2.8,9.3,NNE,31,13:14,19.2,...,6,N,2,1018.8,28.1,43,5,E,13,1015.3
1,2/01/2021,18.4,29.0,0.0,9.4,1.3,NNW,30,8:22,23.3,...,7,NNW,17,1013.3,28.7,38,7,SW,4,1008.5
2,3/01/2021,17.0,26.2,12.6,4.8,7.1,WSW,33,17:55,18.3,...,8,WSW,4,1007.7,23.5,59,4,SSW,2,1005.2
3,4/01/2021,16.0,18.6,2.6,3.8,0.0,SSE,41,16:03,16.2,...,8,SSE,11,1010.0,18.2,82,8,SSW,17,1011.0
4,5/01/2021,15.9,19.1,11.2,1.0,0.0,SSE,35,11:02,17.2,...,8,SSE,13,1012.5,18.2,82,8,SSE,19,1013.3

In [25]:
Combined = pd.merge(price_demand_data, weather_data, how="inner", on=["DATE"])
Combined

,DATE,TOTALDEMAND,PRICECATEGORY,Minimum temperature (Ã‚Â°C),Maximum temperature (Ã‚Â°C),Rainfall (mm),Evaporation (mm),Sunshine (hours),Direction of maximum wind gust,Speed of maximum wind gust (km/h),...,9am cloud amount (oktas),9am wind direction,9am wind speed (km/h),9am MSL pressure (hPa),3pm Temperature (Ã‚Â°C),3pm relative humidity (%),3pm cloud amount (oktas),3pm wind direction,3pm wind speed (km/h),3pm MSL pressure (hPa)
0,1/01/2021,5019.64,LOW,15.6,29.9,0.0,2.8,9.3,NNE,31,...,6,N,2,1018.8,28.1,43,5,E,13,1015.3
1,1/02/2021,5228.29,MEDIUM,13.4,20.3,0.0,7.4,1.6,S,33,...,7,N,7,1012.8,19.4,69,7,S,13,1011.9
2,1/03/2021,5225.37,LOW,13.8,21.7,0.0,6.4,6.3,S,44,...,6,WSW,6,1012.3,19.7,67,6,S,15,1012.2
3,1/04/2021,5807.02,MEDIUM,12.4,29.9,0.0,4.4,10.8,NNW,20,...,1,NE,9,1024.3,28.7,30,3,SE,7,1021.6
4,1/05/2021,5261.09,MEDIUM,11.2,24.6,0.0,5.4,7.1,N,33,...,3,NNE,9,1027.3,24.2,35,7,N,17,1024.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
238,9/04/2021,5688.63,MEDIUM,13.8,17.3,6.2,6.4,7.9,S,35,...,5,W,13,1010.0,15.7,62,6,S,17,1009.6
239,9/05/2021,5222.89,MEDIUM,11.0,20.5,0.4,0.0,7.1,NW,28,...,6,Calm,0,1018.4,19.5,45,3,WNW,6,1014.9
240,9/06/2021,7224.91,MEDIUM,7.8,14.7,4.0,1.6,0.5,S,67,...,7,SSW,4,1010.7,12.3,86,8,S,20,1008.8
241,9/07/2021,7536.11,EXTREME,2.0,12.0,0.0,1.0,9.0,NNE,15,...,4,NE,4,1017.9,11.0,67,2,SSW,7,1015.7
242,9/08/2021,6675.69,HIGH,7.1,16.4,0.0,2.8,2.7,N,30,...,7,NNE,9,1028.1,15.1,60,6,NNW,19,1023.3

In [27]:
Combined.to_csv('Combined_cleaned.csv', encoding='utf-8', index=False)

In [12]:

# Cannot merge together directly
price_weather = pd.merge([price_demand_data, weather_data], how='inner', left_on = 'Id', right_on = 'Id')
price_weather = price_weather.set_index('Date')
price_weather.head()

TypeError: merge() missing 1 required positional argument: 'right'

In [13]:
print(f'price_weather shape is {price_weather.shape}')
price_weather.dtypes

NameError: name 'price_weather' is not defined